#content {
  margin-left: 200px;
  margin-right: 200px;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  height: 100%;
  background-color: white;
}

#greeting-container {
  margin-top: 20px;
}

h1 {
  font-size: 40px;
}

.about:after { 

  content: ''; 
  clear: both; 
  visibility: hidden; 
}

.about img { 
  float: left; 
  margin-right: 100px;
  width: 35%;
  border-radius: 50%;
}

.about h2 { 
  font-size: 30px;
}

.about p { 
  overflow: hidden;
  font-size: 15px;
}

.about ul { 
  overflow: hidden;
  font-size: 15px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 800px;
  max-width: 800px;
}

.image-thumbnails img:hover {
  border: thick solid orange;
}

.parallax {
  background-image: linear-gradient(to right, #b3b3bf, #e8bfa3, #d3caba, #9edce7);
  overflow: hidden;
  height: 50px; 

  /* Create parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  font-family: 'Muli';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.25s ease-in-out;
}

.topnav a.active {
  color: white;
}

.topnav a:hover {
  text-decoration: underline;
  color: black;
  transform: scale(1.05);
}

.topnav-right {
  float: right;
}

#socials {
  font-size: 15px;
}

#tarot {
  height: 300px;
  font-size: 15px;
}

#other {
  height: 300px;
  font-size: 15px;
}

.map {
  height: 500px;
  width: 500px;
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 13em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.typewrite {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 8s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.typewrite::after {
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  content: "|";
  position: absolute;
  right: 0;
}
