#content {
  margin-left: 200px;
  margin-right: 200px;
  width: 750px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;

  height = 1000px;
  background-color = white;
}

#greeting-container {
  margin-top: 20px;
}

.about:after { 
  content: ''; 
  clear: both; 
  visibility: hidden; 
}

.about img { 
  float: left; 
  margin-right: 80px;
}

.about p { 
  overflow: hidden 
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 800px;
  max-width: 800px;
}

.image-thumbnails img:hover {
  border: thick solid orange;
}

.parallax {
  background-image: linear-gradient(to right, #b3b3bf, #e8bfa3, #d3caba, #9edce7);
  overflow: hidden;
  height: 80px; 

  /* Create parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  font-family: 'Muli';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  color: white;
}

.topnav-right {
  float: right;
}

#socials {
  height: 600px;
}

#tarot {
  height: 600px;
}

#other {
  height: 600px;
}

.map {
  /*border: thin solid black;*/
  height: 500px;
  width: 500px;
}


