# ignore tests and walkthroughs
tests/

# exclude week 5 from being ignored
!walkthroughs/
walkthroughs/*
!walkthroughs/week-5-tdd/
walkthroughs/week-5-tdd/*
!walkthroughs/week-5-tdd/project/
!walkthroughs/week-5-tdd/project/*

