body {
  background-color: #282828;
}

.btn {
  background-color: #49c4d4 !important;
}

.card-content {
  white-space: pre-line;
}

#image-preview {
  max-width: 512px;
}

.interactions {
  padding: 2px !important;
}

.input-field textarea:focus + label {
  color: #fff !important;
}

.input-field input[type=text]:focus + label {
  color: #fff !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.input-field input[type=file] {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.input-field .prefix.active {
  color: #fff !important;
}

#file-container {
  max-width: 512px;
}

.material-icons {
  color: #49c4d4;
}

.post-container {
  color: #fff;
  background-color: #3d3d3d;
  margin: 12px auto;
  max-width: 512px;
}

.post-card-title {
  background: #1f1f1f;
  padding: 5px 0;
  text-align: center;
}

#post-entry {
  color: #fff;
  max-width: 512px;
}

#post-title {
  color: #fff;
  max-width: 512px;
}

.post-file {
  width: 100%;
}

#post-upload-container {
  position: sticky;
  top: 0;
}

#schools {
  color: #fff;
}

#search-bar-bg {
  background-color: #fff !important;
  border-radius: 35px;
}

#search-bar-nav {
  background-color: #fff !important;
  border-radius: 35px;
  margin: 10px 0;
}

#search-icon {
  color: #000;
}

.select-dropdown.dropdown-trigger {
  color: #fff !important;
  max-width: 512px;
}

.upvote {
  border: solid #b3b3b3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}

.upvote-button {
  background-color: rgba(0, 0, 0, 0);
}

.reaction-counter {
  background-color: #49c4d4;
  border-radius: 50%;
  bottom: 50px;
  color: #fff;
  left: 20px;
  margin: 0 -0.8em;
  padding: 5px 10px;
  position: relative;
}

.reaction-btn {
  background-color: cornflowerblue;
  cursor: pointer;
  float: right;
  overflow: visible;
}

.reaction-box {
  background-color: rgba(105, 105, 105, 0.7);
  border-radius: 25px;
  bottom: 35px;
  display: none;
  height: 55px;
  position: relative;
  right: 140px;
  width: 330px;
}

.reaction-icon {
  display: inline-block;
  height: 40px;
  margin: 10px 0 0 10px;
  text-align: center;
  transition: all 0.3s;
  user-select: none;
  width: 40px;
}

.reaction-label {
  background-color: #333;
  border-radius: 10px;
  bottom: 25px;
  color: #fff;
  font-size: 10px;
  padding: 5px 5px 5px 5px;
  position: relative;
  visibility: hidden;
}

.reaction-btn:hover {
  background-color: darkturquoise;
}

.reaction-btn:hover .reaction-box {
  display: block;
}

.reaction-icon:hover {
  transform: scale(1.5);
  transform-origin: bottom;
}

.reaction-icon:hover .reaction-label {
  visibility: visible;
}

.emoji-love {
  background-image: url("../images/reactions/emoji_u1f60d.svg");
  height: 40px;
  width: 40px;
}

.emoji-sad {
  background-image: url("../images/reactions/emoji_u1f622.svg");
  height: 40px;
  width: 40px;
}

.emoji-wow {
  background-image: url("../images/reactions/emoji_u1f62e.svg");
  height: 40px;
  width: 40px;
}

.emoji-laugh {
  background-image: url("../images/reactions/emoji_u1f602.svg");
  height: 40px;
  width: 40px;
}

.emoji-think {
  background-image: url("../images/reactions/emoji_u1f914.svg");
  height: 40px;
  width: 40px;
}

.emoji-yikes {
  background-image: url("../images/reactions/emoji_u1f62c.svg");
  height: 40px;
  width: 40px;
}
